// Audit Table
.audit-table {
  // .gf-form overrides
  .gf-form-label { display: none; }

  .gf-form-switch {
    margin-bottom: 0;

    input + label {
      height: 3.6rem;
      width: 110%;
    }

    input + label::before, input + label::after {
      background-color: $dark-5;
      background-image: none;
      border: 0;
      height: 50px;
      line-height: 3.7rem;
    }
  }

  // .filter-table overrides
  .filter-table {
    tr {
      border-bottom: 3px solid $dark-2;
    }

    thead tr {
      border-width: 3px;
    }

    $date-padding: 1em;

    td {
      padding: 0;

      &:nth-child(2) {
        border-left: 5px solid $dark-2;
        padding-left: 1.5em;
      }
      &:nth-child(3) { padding-left: $date-padding; }
      &:last-child { padding-right: 1.5em; }
    }

    th:nth-child(2) { padding-left: 0.5em; }
    th:nth-child(3) { padding-left: $date-padding; }
  }
}

// Diff View
.audit-log {
  h4 {
    margin-bottom: 0.75em;
  }

  .page-container {
    padding: 0;
  }

  .page-sidebar {
    margin-left: 0;
    margin-right: 3em;
  }

  .small.muted { margin-bottom: 0.25em; }

  .ui-list > li  {
    margin-bottom: 1.5em;

    & > a { padding-left: 15px; }
    & > a.active { @include left-brand-border-gradient(); }
  }
}

// Actual Diff
#delta {
  margin: 2em 0;

  pre { padding: 0; }
  pre code { display: block; }
  span { padding: 2px 0; }

  .diff-added {
    background-color: #2f5f40;
  }

  .diff-deleted {
    background-color: #5a372a;
  }
}
