// Audit Table
.audit-table {
  // .gf-form overrides
  .gf-form-label { display: none; }

  .gf-form-switch {
    margin-bottom: 0;

    input + label {
      height: 3.6rem;
      width: 110%;
    }

    input + label::before, input + label::after {
      background-color: $dark-5;
      background-image: none;
      border: 0;
      height: 50px;
      line-height: 3.7rem;
    }
  }

  // .filter-table overrides
  .filter-table {
    tr {
      border-bottom: 3px solid $dark-2;
    }

    thead tr {
      border-width: 3px;
    }

    $date-padding: 1em;

    td {
      padding: 0;

      &:nth-child(2) {
        border-left: 5px solid $dark-2;
        padding-left: 1.5em;
      }
      &:nth-child(3) { padding-left: $date-padding; }
      &:last-child { padding-right: 1.5em; }
    }

    th:nth-child(2) { padding-left: 0.5em; }
    th:nth-child(3) { padding-left: $date-padding; }
  }
}

// Diff View
.audit-log {
  h4 {
    margin-bottom: 0.75em;
  }

  .page-container {
    padding: 0;
    background: none;
  }

  .page-sidebar {
    margin-left: 0;
    margin-right: 3em;
  }

  .small.muted { margin-bottom: 0.25em; }

  .ui-list > li  {
    margin-bottom: 1.5em;

    & > a { padding-left: 15px; }
    & > a.active { @include left-brand-border-gradient(); }
  }
}

// Actual Diff
#delta {
  margin: 2em 0;

  // JSON
  pre {
    border: 0;
    background: $dark-4;
    font-size: $font-size-sm;
    line-height: 1.7;

    span { padding: 2px 0; }
  }

  .diff-added, .diff-deleted {
    position: relative;
    z-index: 0;

    &::after {
      content: '';
      height: 20px;
      width: 1000px;
      position: absolute;
      top: -2px;
      left: -35px;
      z-index: -10;
    }
  }

  .diff-added::after { background: #2f5f40; }
  .diff-deleted::after { background: #5a372a; }

  .indent-1 { margin-left: 1rem; }
  .indent-2 { margin-left: 2rem; }
  .indent-3 { margin-left: 3rem; }
  .indent-4 { margin-left: 4rem; }
  .indent-5 { margin-left: 5rem; }

  .circle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: .75rem;
  }

  .circle-changed { background: #f59433; }
  .circle-added   { background: #29D761; }
  .circle-deleted { background: #fd474a; }
}

// Basic
.diff-circle { margin-right: .5em; }
.diff-circle-changed { color: #f59433; }
.diff-circle-added   { color: #29D761; }
.diff-circle-deleted { color: #fd474a; }

.diff-item-added, .diff-item-deleted { list-style: none; }

.diff-restore-btn {
  float: right;
}

.diff-group {
  background: $dark-3;
  padding: 10px 15px;

  & .diff-group { padding: 0 5px; }
}

.diff-group-name {
  font-size: $font-size-root;
  margin-bottom: .5rem;
}

.diff-list {
  padding-left: 40px;

  & .diff-list { padding-left: 0; }
}

.diff-item {
  color: $gray-2;
  line-height: 2.5;

  & > div { display: inline; }
}

.diff-item-changeset {
  list-style: none;
}

.diff-label {
  background-color: $dark-2;
  border-radius: 3px;
  color: $gray-4;
  display: inline;
  font-size: .95rem;
  margin: 0 5px;
  padding: 3px 8px;
}

.diff-linenum {
  float: right;
}

.diff-arrow {
  color: $white;
}
