<div ng-controller="AuditLogCtrl">
	<div class="tabbed-view-header">
		<h2 class="tabbed-view-title">
			Audit
		</h2>

		<ul class="gf-tabs">
			<li class="gf-tabs-item" >
				<a class="gf-tabs-link" ng-click="ctrl.mode = 'list';" ng-class="{active: ctrl.mode === 'list'}">
					Log
				</a>
			</li>
			<li class="gf-tabs-item" ng-show="ctrl.mode === 'compare'">
				<span class="active gf-tabs-link">Compare</span>
			</li>
		</ul>

		<button class="tabbed-view-close-btn" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</button>
	</div>

	<div class="tabbed-view-body">
		<div ng-if="ctrl.revisions.length === 0">
			<em>No revisions to compare</em>
		</div>

		<div class="gf-form" ng-if="ctrl.mode === 'list' && ctrl.revisions.length > 0">
			<div class="gf-form-group">
				<table class="filter-table">
					<thead>
						<tr>
							<th class="width-4"></th>
							<th class="width-4"></th>
							<th class="width-6">Version</th>
							<th class="width-14">Date</th>
							<th class="width-10">Created By</th>
							<th class="width-10">Updated By</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="revision in ctrl.revisions">
							<td><input type="radio" ng-model="ctrl.compare.original" ng-value="revision.version"></td>
							<td><input type="radio" ng-model="ctrl.compare.new" ng-value="revision.version"></td>
							<td>{{revision.version}}</td>
							<td>{{ctrl.dashboard.formatDate(revision.created)}}</td>
							<td>{{ctrl.dashboard.meta.createdBy}}</td>
							<td>{{revision.createdBy}}</td>
							<td class="text-right">
								<a class="btn btn-inverse btn-small" ng-show="revision.version !== ctrl.dashboard.version">
									<i class="fa fa-rotate-right"></i>&nbsp;&nbsp;Restore this version
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="gf-form-group" ng-show="ctrl.mode === 'list' && ctrl.revisions.length > 0">
					<div class="gf-form-button-row">
						<a type="button" class="btn gf-form-button btn-success" ng-class="{disabled: !ctrl.isComparable()}" ng-click="ctrl.getDiff();" ng-disabled="!ctrl.isComparable()">
							<i class="fa fa-copy" ></i>&nbsp;&nbsp;Compare
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="audit-log" ng-if="ctrl.mode === 'compare'">
			<div class="clearfix">
				<a type="button" class="btn gf-form-button btn-secondary pull-left" ng-click="ctrl.mode = 'list'">
					<i class="fa fa-arrow-left" ></i>&nbsp;&nbsp;Back to audit log
				</a>
				<a type="button" class="btn gf-form-button btn-success pull-right" ng-show="ctrl.compare.new === ctrl.revisions[0].version">
					<i class="fa fa-rotate-right" ></i>&nbsp;&nbsp;Restore version {{ctrl.compare.original}}
				</a>
			</div>

				<div>{{ctrl.delta}}</div>
			</div>
		</div>

	</div>
</div>
