<div ng-controller="AuditLogCtrl">
	<div class="tabbed-view-header">
		<h2 class="tabbed-view-title">
			Changelog
		</h2>

		<ul class="gf-tabs">
			<li class="gf-tabs-item" >
				<a class="gf-tabs-link" ng-click="ctrl.mode = 'list';" ng-class="{active: ctrl.mode === 'list'}">
					List
				</a>
			</li>
			<li class="gf-tabs-item" ng-show="ctrl.mode === 'compare'">
				<span class="active gf-tabs-link">Compare</span>
			</li>
		</ul>

		<button class="tabbed-view-close-btn" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</button>
	</div>

	<div class="tabbed-view-body">

		<div ng-if="ctrl.mode === 'list'">
			<div ng-if="ctrl.loading">
				<i ng-if="ctrl.loading" class="fa fa-spinner fa-spin"></i>
				<em>Fetching audit log…</em>
			</div>

			<div ng-if="!ctrl.loading">
				<div ng-if="ctrl.revisions.length === 0">
					<em>No revisions to compare</em>
				</div>

				<div class="audit-table gf-form" ng-if="ctrl.revisions.length > 0">
					<div class="gf-form-group">
						<table class="filter-table">
							<thead>
								<tr>
									<th class="width-4"></th>
									<th class="width-4">Version</th>
									<th class="width-14">Date</th>
									<th class="width-10">Updated By</th>
									<th class="width-30">Notes</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="revision in ctrl.revisions">
									<td>
										<gf-form-switch
											checked="revision.checked"
											on-change="ctrl.compareRevisionStateChanged(revision)"
                      ng-disabled="ctrl.compareRevisionDisabled(revision.checked)">
										</gf-form-switch>
									</td>
									<td>{{revision.version}}</td>
									<td>{{ctrl.formatDate(revision.created)}}</td>
									<td>{{revision.createdBy}}</td>
									<td>{{revision.message}}</td>
									<td class="text-right">
										<a class="btn btn-inverse btn-small" ng-show="revision.version !== ctrl.dashboard.version" ng-click="ctrl.restore(revision.version)">
											<i class="fa fa-rotate-right"></i>&nbsp;&nbsp;Restore
										</a>
										<a class="btn btn-outline-disabled btn-small" ng-show="revision.version === ctrl.dashboard.version">
											<i class="fa fa-check"></i>&nbsp;&nbsp;Current
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="gf-form-group" ng-show="ctrl.mode === 'list' && ctrl.revisions.length > 0">
							<div class="gf-form-button-row">
								<a type="button" class="btn gf-form-button btn-primary" ng-class="{disabled: !ctrl.isComparable()}" ng-click="ctrl.getDiff();" ng-disabled="!ctrl.isComparable()">
									<i class="fa fa-code-fork" ></i>&nbsp;&nbsp;Compare versions
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="audit-log" ng-if="ctrl.mode === 'compare'">
			<div ng-if="ctrl.loading">
				<i ng-if="ctrl.loading" class="fa fa-spinner fa-spin"></i>
				<em>Fetching changes…</em>
			</div>

			<div ng-if="!ctrl.loading">
				<div class="clearfix">
					<a type="button" class="btn gf-form-button btn-secondary pull-left" ng-click="ctrl.mode = 'list'">
						<i class="fa fa-arrow-left" ></i>&nbsp;&nbsp;Back to audit log
					</a>
				</div>

				<div ng-bind-html="ctrl.delta">{{ctrl.delta}}</div>

				<div class="clearfix">
					<a type="button" class="btn gf-form-button btn-secondary pull-left" ng-click="ctrl.mode = 'list'">
						<i class="fa fa-arrow-left" ></i>&nbsp;&nbsp;Back to audit log
					</a>
				</div>
			</div>
		</div>

	</div>
</div>
